[submodule "lib/powerline"]
	path = lib/powerline
	url = git@github.com:jr0cket/powerline.git
[submodule "lib/org-reveal"]
	path = lib/org-reveal
	url = git@github.com:jr0cket/org-reveal.git
[submodule "lib/emms"]
	path = lib/emms
	url = git://git.sv.gnu.org/emms.git
